/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2017, 3:11:23 PM
    Author     : lilace
*/

header
{
    font-size: 1.4em;
    font-family: sans-serif;
}

footer
{
    font-size: .7em;
}

h1
{
    font-size: 1.2em;
}

form
{
    width: 100;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-family: sans-serif;
}

input{
    width: 100%;
    padding: .25em;
    margin: .1em;
    box-sizing: border-box;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid cornflowerblue;
}

input[type=password]{
    border: none;
    border-bottom: 2px solid thistle;
 }

input[type=submit]{
    background-color: RGB(66,135,244);
    color: white;
    font-size: 1em;
}

input:focus{
    background-color: antiquewhite;
}

table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}